@import url(//fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html {
  font-size: 17px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  /*font-family: 'Noto Sans', sans-serif;*/
  font-size: 17px;

  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0 0 60px 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  display: flex;
  flex-flow: column;
  list-style: none;
}

li {
  flex: 0 1 auto;
}