
html {
  font-size: 17px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 0 0 60px 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}
