
.flex-container {
  margin-top: 80px;
  text-align: center;
  display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

  -webkit-flex-flow: column nowrap;
       flex-flow: column nowrap;

  align-items: stretch;
  justify-content: space-around;
  align-content: space-between;
}
