
.notification-bar {
    position: fixed;
    font-size: 128px;
    font-weight: bold;

    top: -60px;

    width: 100%;

    -webkit-transition: 300ms top ease;
       -moz-transition: 300ms top ease;
        -ms-transition: 300ms top ease;
         -o-transition: 300ms top ease;
            transition: 300ms top ease;
    text-align: center;

    color: white;
    background-color: #3498db;
}

.notification-bar.active {
    top: 0;
}

.notification-bar a {
    color: white;
}