
input,
button,
.searchBox:before {
  padding: .35em .75em;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;
}

.field {
  display: flex;
}

.searchBox-query {
  // Shrink and grow as needed, but never shrink so
  // small that we can't read the placeholder
  flex: 1 0 8em;
}

.searchBox-btn {
  // Never shrink or grow
  flex: 0 0 auto;
}

.field-is-search:before {
  // Prevent shrink or grow and use a default size
  flex: 0 0 2.75em;

  // Center the icon w/ Flexbox
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.searchBox {
  margin: 3rem auto 0;
  max-width: 80%;
}

.field-is-search:before {
  border-radius: 2px 0 0 2px;
  background: #ccc;

  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  color: #797979;

  content: "\f002";
}

.searchBox-query {
  background: #e9e9e9;

  // Ensure placeholder isn't poorly cut off
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchBox-query:focus {
  background: white;
}

.searchBox-btn {
  border-radius: 0 2px 2px 0;
  background: #3498db;
  font-weight: 300;
  text-transform: uppercase;
  color: #EDFFEC;
}