.tweet-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  border-style: solid black 10px;
  padding: 10px;
  margin-bottom: 5px;
  margin-top:5px;
  width: 100%
}

.tweet-body{
  align-self: flex-start;
}

.user {
  align-self: flex-start;
  margin: 10px
}

.user-image {
  align-self: flex-start;
  margin: 10px;
}

.user-image :hover {
  align-self: center;
}