
#user-author {
  color: #3498db;
  font-weight: bold;
  flex: 0 1 auto;
  padding-left: 5px;
  align-self: auto;
}

#user-screenName {
  font-size: 14px;
  flex: 0 0 auto;
  padding-left: 5px;
  align-self: auto;
}

#user-screenName:hover {
  color: grey;
  font-weight: bold;
}

.tweet {
  min-width: 250px;
  // flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
   margin: 2px 2px;
  align-content: center;
  justify-content: center;
}

.tweet.active {
  -webkit-transition: 0.5s ease;
       -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
         -o-transition: 0.5s ease;
            transition: 0.5s ease;
}

.tweet.hidden {
  display: none;
}

.tweet:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tweet-user-info {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
   align-self: auto;
  padding: 10px 0 0 10px;
}

.user-image {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: auto;
}

.image {
  width: 70px;
  border: 2px solid black;
  border-radius: 5px;
}

.user-name {
  display: flex;
  flex-flow: column wrap;
  align-self: auto;
}

.tweet-body {
  align-self: auto;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  padding: 0 0 20px 20px;
  align-self: auto;
  // align-content: flex-start;
  // justify-content: space-around;
}
.tweet-text {
  flex: 0 1 auto;
  font-size: 16px;
}
